# MongoDB
MONGO_URI=mongodb+srv://madhusankamrd_db_user:JwNoFtmR7chUfoOg@cluster0.mq3bbks.mongodb.net/?appName=Cluster0

# JWT secret
JWT_SECRET=NCj8qPZt46s9kRxfUyH7v3B2wLaV0pQnGmJ5ZbXeR1FhKcT8SdWo

# AI service URL
AI_SERVICE_URL=http://localhost:8000

# External job APIs
JSEARCH_API_KEY=d562c55873mshde61321c52b39e6p199a5djsn4c3457eee747
ADZUNA_APP_ID=738326f3
ADZUNA_API_KEY=8ff1cee23129a4c97710700093ea6a26
JOBDATALAKE_API_KEY=jdl_3ff8b0f49a78335ae858d56e84372818b05d9683e2475315
