# Server Configuration
PORT=5000
NODE_ENV=development

# Database
MONGO_URI=mongodb+srv://madhusankamrd_db_user:JwNoFtmR7chUfoOg@cluster0.mq3bbks.mongodb.net/?appName=Cluster0

# JWT
JWT_SECRET=NCj8qPZt46s9kRxfUyH7v3B2wLaV0pQnGmJ5ZbXeR1FhKcT8SdWo

# AI Service
AI_SERVICE_URL=http://localhost:8000

# Job APIs (Optional - add your API keys)
JSEARCH_API_KEY=d562c55873mshde61321c52b39e6p199a5djsn4c3457eee747
ADZUNA_APP_ID=738326f3
ADZUNA_API_KEY=8ff1cee23129a4c97710700093ea6a26
JOBDATALAKE_API_KEY=jdl_3ff8b0f49a78335ae858d56e84372818b05d9683e2475315

# CORS
CLIENT_URL=http://localhost:3000